*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header rules*/
header{
  height: 700px;
  background-color: #1abc9c;
}


/* main rules */
main{
  height: 1350px;
}

.portfolio{
  height: 750px;
  background-color: white;
}

.about{
  height: 600px;
  background-color: #1abc9c; 
}
/* footer rules */
footer{
  height: 950px;
  background-color: grey;
}
